.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 0 40px;
}

@media screen and (max-width: 625px) {
  .popup__title {
    font-size: 20px;
    margin: 16px 0 20px;
  }
}
