.footer {
  margin: 0 auto;
  max-width: 882px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - (20px*2));
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-bottom: 36px;
  }
}
