.popup__input {
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 5px;
  padding: 0 0 13px 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:last-of-type {
  margin-bottom: 5px;
}

.popup__input:focus {
  outline: none;
}

@media screen and (max-width: 625px) {
  .popup__input {
    width: 250px;
  }
}

